<!DOCTYPE html>
<html>

<head>
    <title>Flasky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Avaliação contínua: <b>Aula 060.C</b></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Olá, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
            {% if not known %}
            <p>Prazer em conhecê-lo!</p>
            {% else %}
            <p>Feliz em vê-lo novamente!</p>
            {% endif %}
        </div>

        <form action="" method="post" class="form" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group required">
                {{ form.name.label(class="control-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.role.label(class="control-label") }}
                {{ form.role(class="form-control") }}
            </div>
            <input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit">
        </form>

        <h2>Relação de usuários cadastrados</h2>
        <h4>Quantidade: {{ user_all|length }}</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome do usuário</th>
                    <th>Função</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_all %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Relação de funções cadastradas</h2>
        <h4>Quantidade: {{ role_all|length }}</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Funções</th>
                    <th>Usuários</th>
                </tr>
            </thead>
            <tbody>
                {% for role in role_all %}
                <tr>
                    <td>{{ role.name }}</td>
                    <td>
                        <ol>
                            {% for user in role.users %}
                            <li>{{ user.username }}</li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>